<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >

<head><title>
	Jogos Online Gratis - Top Jogos
</title><meta name="description" content="Jogos online gratuitos em Flash" /><meta name="keywords" content="jogos online gratis, jogos online, jogos em flash, jogos gratis, jogos on line, jogos da barbie, jogos de acao, jogos de aventura, jogos de carro, jogos de carta, jogos de corrida, jogos de esporte, jogos de luta, jogos de moto, jogos de pokemon, jogos de raciocinio, jogos de rpg, jogos de tabuleiro, jogos de tiro, jogos do mario, jogos do sonic, jogos infantis" /><link rel="stylesheet" type="text/css" href="css/stylesheet.css" /></head>

<body>

<div id="container">
    
    
<div id="header">
    <div id="logo"><a href="default.aspx" title="Top Jogos"><img src="imagens/logo.gif" alt="Top Jogos" /></a></div>
    <div id="banner">
    <a href="#" onclick="javascript:this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.topjogos.com.br');urchinTracker('/outgoing/orkut');">Defina como sua página inicial</a><br /><a href="javascript:window.external.AddFavorite(location.href,document.title)" onclick="javascript:urchinTracker('/outgoing/favoritos');">Adicione nos seus Favoritos</a><br /><a href="http://www.orkut.com/CommunityJoin.aspx?cmm=42315443" onclick="javascript:urchinTracker('/outgoing/orkut');">Comunidade do Orkut</a>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">
_uacct = "UA-270354-2";
urchinTracker();
</script>
</div>
</div>
        
    <div id="content">

<%= render 'shared/categories_menu' %>

        <div id="main">
        
            <div id="introducao">
                <h1>Jogos Online Grátis</h1>
                <p>Aqui você encontra os melhores jogos online, jogos em flash, todos rodando diretamente do browser sem a necessidade de instalação ou download. Com os games em flash grátis do Top Jogos, você se diverte de qualquer lugar.</p>
            </div>

<div id="maisjogados">
<h2>Mais Jogados</h2>

    <div class="item">
        <a href="cartoon-marroned.aspx"><img src="imagens/icones/cartoon-marroned.gif" alt="Cartoon Marroned" /></a><a href="cartoon-marroned.aspx">Cartoon Marroned</a><br /><span class="desc">Jogo com Frajola e cia</span>
    </div>
    
    <div class="item">
        <a href="counter-strike-elite.aspx"><img src="imagens/icones/counter-strike-elite.gif" alt="Counter Strike Elite" /></a><a href="counter-strike-elite.aspx">Counter Strike Elite</a><br /><span class="desc">Excelente jogo de tiro</span>
    </div>
    
    <div class="item">
        <a href="drag-racer-3.aspx"><img src="imagens/icones/drag-racer-3.gif" alt="Drag Racer 3" /></a><a href="drag-racer-3.aspx">Drag Racer 3</a><br /><span class="desc">Nova versão do jogo</span>
    </div>
    
    <div class="item">
        <a href="jogo-do-sonic.aspx"><img src="imagens/icones/jogo-do-sonic.gif" alt="Jogo do Sonic" /></a><a href="jogo-do-sonic.aspx">Jogo do Sonic</a><br /><span class="desc">A versão online do Sonic</span>
    </div>
    
    <div class="item">
        <a href="swat-3d.aspx"><img src="imagens/icones/swat-3d.gif" alt="Swat 3d" /></a><a href="swat-3d.aspx">Swat 3d</a><br /><span class="desc">Ótimo jogo 3d de tiro</span>
    </div>
    
    <div class="item">
        <a href="turbo-spirit.aspx"><img src="imagens/icones/turbo-spirit.gif" alt="Turbo Spirit" /></a><a href="turbo-spirit.aspx">Turbo Spirit</a><br /><span class="desc">Super corrida de moto</span>
    </div>
    
</div>
            
            
<div id="destaques">
    <h2>Destaques</h2>
    <a href="metal-slug.aspx" title="MetalSlug"><img src="imagens/destaque_1.gif" alt="Metal Slug" style="border: 1px solid #000;margin-top:5px;" /></a>
    <a href="black-knight.aspx" title="BlackKnight"><img src="imagens/destaque_2.gif" alt="Black Knight" style="border: 1px solid #000;margin-top:8px;" /></a>
    <a href="prince-of-persia.aspx" title="Prince of Persia"><img src="imagens/destaque_3.gif" alt="Prince of Persia" style="border: 1px solid #000;margin-top:8px;" /></a>
    <a href="http://www.trocandolivros.com.br" target="_blank" onClick="javascript:urchinTracker('/outgoing/trocandolivros.com.br');"><img src="imagens/livros1.jpeg" /></a>
    <a href="http://www.lokaliza.com.br" target="_blank" onClick="javascript:urchinTracker('/outgoing/trocandolivros.com.br');"><img src="imagens/lokaliza.jpeg" /></a>
    <a href="http://www.hoteisnow.com" target="_blank" onClick="javascript:urchinTracker('/outgoing/hoteisnow.com');"><b>Guia de Hotéis</b></a><br>
    <a href="http://www.zpt.com.br" target="_blank" onClick="javascript:urchinTracker('/outgoing/zpt.com.br');"><b>ZPT Jogos Online</b></a>
</div>
           
        </div>

    </div>
    
    <div id="footer">
        <img src="/imagens/faletop.gif" />
    </div>

</div>

</body>

</html>